#execute{
    width: 150px;
    height: 50px;

    margin-top: 25px;
    margin-left: 200px;

    font-family: "Comic Sans MS", Comic Sans, cursive;
    font-size: 20px;
}
#execute:hover{
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
        -moz-box-shadow:    9px 7px 5px rgba(50, 50, 50, 0.77);
        box-shadow:         9px 7px 5px rgba(50, 50, 50, 0.77);
}
#iconPlay{
    margin-top: -5px;
}